<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task 1</title>
</head>
<body>
    <form  method="post" action="/create" >
        <label for="">Enter Your Name : </label><br>
        <input type="text" name="name"><br><br>
        <label for="">Enter Your Email : </label><br>
        <input type="text" name="email"><br><br>
        <label for="">Enter Your Phone : </label><br>
        <input type="text" name="phone"><br><br>
        <label for="">Enter Your Image : </label><br>
        <input type="text" name="image"><br><br>
        <input type="submit">
    </form>
    <script>
        fetch("/alldata")
        .then((res) => res.json())
        .then((data) => {
            data.map((ele) => {
                console.log(data)
                let img = document.createElement("img")
                img.src = ele.image;
                let name = document.createElement("h3")
                name.innerHTML = ele.name;
                let email = document.createElement("h4")
                email.innerHTML = ele.email;
                let phone = document.createElement("h5")
                name.innerHTML = ele.phone;
                let dbtn = document.createElement("button")
                dbtn.innerHTML = "delete"
                dbtn.addEventListener("click" , () =>{
                    fetch(`/delete/${ele._id}`,{
                        method : "DELETE"
                    })
                })
                let div = document.createElement("div") 
                div.append(img , name , email , phone , dbtn)
    
                document.getElementById("datas").append(div)
            })
        })
    </script>
</body>
</html>